html {
  font-size: 10px ;
}

body {
  background-color: lightcyan;
}

.suit {
  height: 5rem;
  width: 5rem;
  border: .2rem solid black;
  position: fixed;
}

.Spades {
  top: 2.5rem;
  left: 2.55rem
}

.Hearts {
  top: 2.5rem;
  left: 10rem
}

.Clubs {
  top: 10rem;
  left: 2.5rem;
}

.Diamonds {
  top: 10rem;
  left: 10rem;
}


.spadeMiddle {
  height: 2rem;
  width: 2rem;
  background-color: black;
  transform: rotate(45deg);
  position: relative;
  top: 1.25rem;
  left: 1.5rem;
}

.spadeLeft {
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
  background-color: black;
  position: relative;
  top: -.15rem;
  left: .9rem;
}

.spadeRight {
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
  background-color: black;
  position: relative;
  top: -2.15rem;
  left: 2.1rem;
}

.spadeBottom {
  height: .5rem;
  width: .5rem;
  border-bottom-right-radius: .5rem;
  background-color: black;
  transform: rotate(45deg) skew(20deg, 20deg);
  position: relative;
  top: -2.25rem;
  left: 2.25rem;
}

.heartMiddle {
  height: 2rem;
  width: 2rem;
  background-color: red;
  transform: rotate(45deg);
  position: relative;
  top: 1.75rem;
  left: 1.5rem;
}

.heartLeft {
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
  background-color: red;
  position: relative;
  top: -.85rem;
  left: .9rem;
}

.heartRight {
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
  background-color: red;
  position: relative;
  top: -2.85rem;
  left: 2.10rem;
}

.clubTop {
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
  background-color: black;
  position: relative;
  top: .5rem;
  left: 1.5rem;
}

.clubLeft {
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
  background-color: black;
  position: relative;
  top: 0rem;
  left: .65rem;
}

.clubRight {
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
  background-color: black;
  position: relative;
  top: -2rem;
  left: 2.35rem;
}

.clubBottom {
  height: .5rem;
  width: .5rem;
  border-bottom-right-radius: .5rem;
  background-color: black;
  transform: rotate(45deg) skew(20deg, 20deg);
  position: relative;
  top: -2.3rem;
  left: 2.25rem;
}

.diamond {
  height: 2.5rem;
  width: 2.5rem;
  background-color: red;
  transform: rotate(45deg) skew(15deg, 15deg);
  position: relative;
  top: 1.25rem;
  left: 1.25rem;
}

.cardFront {
  margin: 1rem;
  height: 35rem;
  width: 25rem;
  background-color: white;
  position: absolute;
  top: 17rem;
  border: .5rem solid black;
  border-radius: 1rem;
  box-shadow: .8rem .8rem .3rem 0 grey;
}

.TL {
width: 5rem;
height: 5rem;
position: inherit;
top: 0;
left: 0;
}

.TR {
width: 5rem;
height: 5rem;
position: inherit;
top: 0;
right: 0;
}

.BL {
width: 5rem;
height: 5rem;
position: inherit;
bottom: 0;
left: 0;
}

.BR {
width: 5rem;
height: 5rem;
position: inherit;
bottom: 0;
right: 0;
}
