html {
  font-size: 15px;
}

body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}

.header {
 width: 100%;
 height: 5rem;
 top: 0;
 position: fixed;
 background: linear-gradient(red, darkred);
 z-index: 3;
}

.container {
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  position: relative;
  top: -5rem;
  height: 50rem;
  width: 70rem;
  background: repeating-radial-gradient(darkgreen, green 50%, black 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: perspective(600px) rotateX(40deg);
  z-index: 2;
}

.playSpace {
  width: 50rem;
}

.cPile {
  margin: 1rem;
  height: 7rem;
  width: 5rem;
  background-color: red;
  background-image: repeating-linear-gradient(0deg, rgba(0, 0, 127, .5), rgba(0, 0, 127, .5) .06rem, rgba(255, 90, 90, .5) .06rem, rgba(255, 90, 90, .5) .4rem, rgba(0, 0, 0, .5) .4rem, rgba(0, 0, 0, .5) .5rem, rgba(255, 255, 255, .5) .5rem, rgba(255, 255, 255, .5) .6rem, rgba(0, 0, 0, .5) .6rem, rgba(0, 0, 0, .5) .7rem, rgba(255, 90, 90, .5) .7rem, rgba(255, 90, 90, .5) 1rem),
  repeating-linear-gradient(90deg, rgba(0, 0, 127, .5), rgba(0, 0, 127, .5) .06rem, rgba(255, 90, 90, .5) .06rem, rgba(255, 90, 90, .5) .4rem, rgba(0, 0, 0, .5) .4rem, rgba(0, 0, 0, .5) .5rem, rgba(255, 255, 255, .5) .5rem, rgba(255, 255, 255, .5) .6rem, rgba(0, 0, 0, .5) .6rem, rgba(0, 0, 0, .5) .7rem, rgba(255, 90, 90, .5) .7rem, rgba(255, 90, 90, .5) 1rem),
  repeating-linear-gradient(45deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)  1%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0) 2%, rgba(0, 0, 0, .5) 2%, rgba(0, 0, 0, .5) 4%, rgba(0, 0, 0, 0) 4%, rgba(0, 0, 0, 0) 5%),
  repeating-linear-gradient(-45deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)  1%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0) 2%, rgba(0, 0, 0, .5) 2%, rgba(0, 0, 0, .5) 4%, rgba(0, 0, 0, 0) 4%, rgba(0, 0, 0, 0) 5%);
  border: .1rem solid rgb(220, 220, 220);
  border-radius: .3rem;
}

.pPile {
  margin: 1rem;
  height: 7rem;
  width: 5rem;
  background-color: blue;
  background-image: repeating-linear-gradient(0deg, rgba(127, 0, 0, .5), rgba(127, 0, 0, .5) .06rem, rgba(90, 90, 255, .5) .06rem, rgba(90, 90, 255, .5) .4rem, rgba(0, 0, 0, .5) .4rem, rgba(0, 0, 0, .5) .5rem, rgba(255, 255, 255, .5) .5rem, rgba(255, 255, 255, .5) .6rem, rgba(0, 0, 0, .5) .6rem, rgba(0, 0, 0, .5) .7rem, rgba(90, 90, 255, .5) .7rem, rgba(90, 90, 255, .5) 1rem),
  repeating-linear-gradient(90deg, rgba(127, 0, 0, .5), rgba(127, 0, 0, .5) .06rem, rgba(90, 90, 255, .5) .06rem, rgba(90, 90, 255, .5) .4rem, rgba(0, 0, 0, .5) .4rem, rgba(0, 0, 0, .5) .5rem, rgba(255, 255, 255, .5) .5rem, rgba(255, 255, 255, .5) .6rem, rgba(0, 0, 0, .5) .6rem, rgba(0, 0, 0, .5) .7rem, rgba(90, 90, 255, .5) .7rem, rgba(90, 90, 255, .5) 1rem),
  repeating-linear-gradient(45deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)  1%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0) 2%, rgba(0, 0, 0, .5) 2%, rgba(0, 0, 0, .5) 4%, rgba(0, 0, 0, 0) 4%, rgba(0, 0, 0, 0) 5%),
  repeating-linear-gradient(-45deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)  1%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0) 2%, rgba(0, 0, 0, .5) 2%, rgba(0, 0, 0, .5) 4%, rgba(0, 0, 0, 0) 4%, rgba(0, 0, 0, 0) 5%);
  border: .1rem solid rgb(220, 220, 220);
  border-radius: .3rem;
}

.deck {
  position: relative;
  top: 8rem;
  left: 21.5rem;
}

.pDraw {
  transform: rotateX(90deg);
}

.cDraw {
  transform: rotateX(90deg);
}

.draw {
  margin: 1rem;
  height: 7rem;
  width: 5rem;
  position: relative;
  top: 0rem;
  left: 21.5rem;
  background-color: white;
  font-size: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: top .5s linear, transform .5s linear;
}

.pflip {
  top: -8rem;
  transform: rotateX(0deg);
}

.cflip {
  top: -8rem;
  transform: rotateX(0deg);
}

.TL {
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 0;
  left: 0;
}

.TR {
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 0;
  right: 0;
}

.BL {
  width: 1rem;
  height: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
}

.BR {
  width: 1rem;
  height: 1rem;
  position: absolute;
  bottom: 0;
  right: 0;
}

.cardNum {
  position: absolute;
  text-align: center;
  font-size: 2rem;
}

.spadeMiddle {
  height: 2em;
  width: 2em;
  background-color: black;
  transform: rotate(45deg);
  position: relative;
  top: 1.25em;
  left: 1.5em;
}

.spadeLeft {
  height: 2em;
  width: 2em;
  border-radius: 1em;
  background-color: black;
  position: relative;
  top: -.15em;
  left: .9em;
}

.spadeRight {
  height: 2em;
  width: 2em;
  border-radius: 1em;
  background-color: black;
  position: relative;
  top: -2.15em;
  left: 2.1em;
}

.spadeBottom {
  height: .5em;
  width: .5em;
  border-bottom-right-radius: .5em;
  background-color: black;
  transform: rotate(45deg) skew(20deg, 20deg);
  position: relative;
  top: -2.25em;
  left: 2.25em;
}

.heartMiddle {
  height: 2em;
  width: 2em;
  background-color: red;
  transform: rotate(45deg);
  position: relative;
  top: 1.75em;
  left: 1.5em;
}

.heartLeft {
  height: 2em;
  width: 2em;
  border-radius: 1em;
  background-color: red;
  position: relative;
  top: -.85em;
  left: .9em;
}

.heartRight {
  height: 2em;
  width: 2em;
  border-radius: 1em;
  background-color: red;
  position: relative;
  top: -2.85em;
  left: 2.10em;
}

.clubTop {
  height: 2em;
  width: 2em;
  border-radius: 1em;
  background-color: black;
  position: relative;
  top: .5em;
  left: 1.5em;
}

.clubLeft {
  height: 2em;
  width: 2em;
  border-radius: 1em;
  background-color: black;
  position: relative;
  top: 0;
  left: .65em;
}

.clubRight {
  height: 2em;
  width: 2em;
  border-radius: 1em;
  background-color: black;
  position: relative;
  top: -2em;
  left: 2.35em;
}

.clubBottom {
  height: .5em;
  width: .5em;
  border-bottom-right-radius: .5em;
  background-color: black;
  transform: rotate(45deg) skew(20deg, 20deg);
  position: relative;
  top: -2.3em;
  left: 2.25em;
}

.diamond {
  height: 2.5em;
  width: 2.5em;
  background-color: red;
  transform: rotate(45deg) skew(15deg, 15deg);
  position: relative;
  top: 1.25em;
  left: 1.25em;
}

.trophy {
  position: relative;
  left: 35rem;
  top: -13rem;
}

.com {
  transform: rotate(180deg);
}

.footer {
  width: 100%;
  height: 5rem;
  bottom: 0;
  position: fixed;
  background: linear-gradient(darkblue, blue);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

button {
  margin: 1rem;
}
